{% extends "base_view.html" %}
{% load i18n %}

{% block css %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}/openid_ui/css/openid.css" />
{% endblock %}

{% block heading%}
Sign-In
{% endblock %}

{% block top_links %}
<a href="{% url registration_register %}">Register</a> | <a href="{% url user_signin %}">Sign-In</a>
{% endblock %}

{% block main_content %}
{% if msg %}
<br />
	<p class="warning">{{ msg }}</p>
{% endif %}
{% if form2.errors %}
<div class="errors"><p>{% trans "Please correct errors below:" %}<br />
	{% if form2.username.errors %} 
		<span class="error">{{ form2.username.errors|join:", " }}</span>
	{% endif %}
	{% if form2.password.errors %} 
		<span class="error">{{ form2.password.errors|join:", " }}</span>
	{% endif %}
</p></div>
<br>
{% endif %}

{% if form1.errors %}
<div class="errors">
    <p><span class="error">{{ form1.openid_url.errors|join:", " }}</span></p>
</div>
<br>
{% endif %}

<div class="login">

    <form id="auth_form" name="auth_form" action="{% url user_signin %}" method="post">
    <input type="hidden" name="next" value="{{ next }}" />
	<fieldset>
	    
	    
		<legend>{% trans "Sign-in Using Your Account ID" %}</legend>
		<div class="form-row"><label for="id_username">{% trans "Username:" %}</label><br />{{ form2.username }}</div>
		<div class="form-row"><label for="id_password">{% trans "Password" %}</label><br />{{ form2.password }}</div>
		
        <div class="submit-row"><input type="submit" name="blogin" value="{% trans "Sign in" %}"> </div>
	</fieldset>	
</form>

<form action="{{ action }}" method="post" id="openid_form">
	<fieldset>
		<legend>Sign-in or Create New Account using OpenID</legend>
	
		<div id="openid_choice">
	    		<p>Please click your account provider:</p>
	    		<div id="openid_btns"></div>

		</div>
		
		<div id="openid_input_area">
			<input id="openid_identifier" name="openid_identifier" type="text" value="http://" />
			<input type="submit" value="Sign-In"/>
		</div>
		
		<noscript>
			<p>OpenID is service that allows you to log-on to many different websites using a single indentity.
			Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
		</noscript>
	</fieldset>
</form>
</div>	
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/openid_ui/js/openid-jquery.js"></script>	

<script type="text/javascript">
$(document).ready(function() {
	openid.init('openid_identifier');
});
</script>
<!-- /Simple OpenID Selector -->
    
{% endblock %}

