{% extends "base_account.html" %}

{% block title %}Sign in using OpenID{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{#######################################################################################}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/openid-realselector/js/jquery.openid.js"></script>	
<link rel="stylesheet" href="{{ MEDIA_URL }}/openid-realselector/css/style.css">

<script type="text/javascript">
		$(document).ready(function() {
			$('#openid').openid({
       			img_path: '{{ MEDIA_URL }}/openid-realselector/img/',
      });
	});
</script>


{% endblock %}

{#######################################################################################}

{% block heading %}
Sign in using OpenID
{% endblock %}

{#######################################################################################}

{% block form %}

<form method="post" action="." id="openid">
		<div><input type="hidden" name="action" value="verify"></div>
</form>

{% endblock %}
