{% extends "base_account.html" %}

{% block title %}Sign in using OpenID{% endblock %}

{% block css %}
{{ block.super }}
	input.openid {
		font-size: x-large;
		width: 35em;
		background: url({% url openid-logo %}) no-repeat; 
		background-position: 0 50%;
		padding-left: 16px;
	}
{% endblock %}

{#######################################################################################}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/openid_ui/js/openid-jquery.js"></script>	
<link rel="stylesheet" href="{{ MEDIA_URL }}/openid_ui/css/openid.css" />

<script type="text/javascript">
	$(document).ready(function() {
	   openid.init('openid_identifier');
	});
</script>


{% endblock %}

{#######################################################################################}

{% block heading %}
Sign in using OpenID
{% endblock %}

{#######################################################################################}

{% block form %}
<form action="." method="post" id="openid_form">
	<fieldset>
		<input type="hidden" name="action" value="verify" />
		
		<legend>Sign-in or Create New Account</legend>
	
		<div id="openid_choice">
	    		<p>Please click your account provider:</p>
	    		<div id="openid_btns"></div>
		</div>
		
		<div id="openid_input_area">
			<input id="openid_identifier" type="text" class="required openid" name="openid_identifier" maxlength="255" />
			<input type="submit" value="Sign-In"/>
		</div>
		
		<noscript>
			<p>OpenID is service that allows you to log-on to many different websites using a single indentity.
			Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
		</noscript>
	</fieldset>
</form>
{% endblock %}
