{% extends "base.html" %}

{% block title %}Editing: {{position.company.name}} > {{position.name}}{% endblock %}

{% block css %}
	<style type="text/css">
		fieldset input[type="text"]		{width: 3em; margin-right: 2em}
		legend					{font-size: large}
		.plus					{cursor: pointer}
		
		#base_mins				{display: none}
		#pref_mins				{display: none}

	</style>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
	$(document).ready(function() {
	
		$("#base_toggle").click(function(){
			$("#base_mins").toggle();
			
			if( $("#base_toggle img").attr('src') == plus_path )
				$("#base_toggle img").attr('src', minus_path);
			else
				$("#base_toggle img").attr('src', plus_path);
		});
		
		$("#pref_toggle").click(function(){
			$("#pref_mins").toggle();
			
			if( $("#pref_toggle img").attr('src') == plus_path )
				$("#pref_toggle img").attr('src', minus_path);
			else
				$("#pref_toggle img").attr('src', plus_path);
		});
		
	});	
	</script>


{% endblock %}

{% block body %}
<div id="main_container">

	<h1>Editing: <em>{{position.company.name}} > {{position.name}}</em></h1>
	<a href="/position/{{ position.pk }}">View {{ position.name }}</a> <br />
	<a href="/position/{{ position.pk }}">Edit {{ position.company.name }}</a>
	
	<hr class="top_divider" />
	
	<form action="." method="post">
		<div>
			<table summary="position details">
			{{pos_form}}
			</table>
		
			<input type="submit" value="Submit" />
		
			<hr />
		
			<h2>Hiring Minimums</h2>
		
			<a href="/edit/mins/hard/{{position.pk}}">Click here to edit <strong>hard minimums</strong> info</a>
			<br />
			<a href="/edit/mins/pref/{{position.pk}}">Click here to edit <strong>preferred minimums</strong> info</a>
		
			<hr />
		
			<h2>Salary</h2>
		
			<a href="/edit/salary/{{position.pk}}">Click here to edit salary info</a>
		
			<hr />
			
			<h2>Hiring Status</h2>
		
			<a href="/edit/status/{{position.pk}}">click here to edit Hiring Status info</a>
		</div>
	</form>

</div>
{% endblock %}
