{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}
	<style type="text/css">
		fieldset input[type="text"]		{width: 3em; margin-right: 2em}
		legend					{font-size: large}


	</style>
{% endblock %}

{% block javascript %}



{% endblock %}

{% block body %}
<div id="main_container">

	<h1>{{position.company.name}} > {{position.name}}</h1>
	<a href="/position/{{ position.pk }}">View {{ position.name }}</a> <br />
	<a href="/position/{{ position.pk }}">Edit {{ position.company.name }}</a>
	<hr />
	
	<form action="." method="POST">
		<table>
		{{pos_form}}
		</table>
		
		<input type="submit" value="Submit">
		
		<hr />
		
		{% include "mins.html" %}
		
	</form>

</div>
{% endblock %}
