{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}
	<style type="text/css">
		.opbase_formbox			{border: 2px solid green; margin: 1em; padding: .5em}
		.opbase_new			{border: 2px solid red;margin-top: 3em; padding: .5em}
		.opbase_new table td:first-child {text-align: center; font-weight: bold}

	</style>
{% endblock %}

{% block javascript %}



{% endblock %}

{% block body %}
<div id="main_container">

	<h2>
	<a href="/edit/company/{{ operation.company.pk }}">Edit {{ operation.company }}</a> >> Edit {{operation.all_fleet}} Operation
	</h2>
<form action="." method="post">
<div>
{% for form in formset.forms %}
	<div class="opbase_formbox">
		<table>
			{{form}}
		</table>
		
		<input type="checkbox" name="opbase{{operation.pk}}"/>Delete
		
		<ul>
			{% for route in form.instance.routes.all %}
			<li><a href="/edit/route/{{route.pk}}">{{form.instance.base.identifier}}-{{ route }}-{{form.instance.base.identifier}}</a></li>
			{% endfor %}

			<li>**<a href="/new/route/{{form.instance.pk}}">Add route</a>**</li>
		</ul>
		
	</div>
{% endfor %}
	<input type="submit" value="Submit Changes" />
</div>
</form>

<form action="." method="post">
<div class="opbase_formbox opbase_new">
	<table>
		<tr>
			<td colspan="2">New Operation Base</td>
		</tr>
		{{ new_form }}
	</table>
	
	<input type="submit" value="Submit New" />
	
</div>
</form>	





</div>
{% endblock %}
