{% extends "base.html" %}

{% block title %}Edit {{ company.name }}{% endblock %}

{% block css %}
	<style type="text/css">
		
	</style>
{% endblock %}

{% block javascript %}



{% endblock %}

{% block body %}
<div id="main_container">

	<h1>Edit {{ company.name }}</h1>
	<a href="/company/{{ form.instance.pk }}">View {{ company.name }}</a>
	
	<hr class="top_divider" />

	<form action="." method="POST">
	<div>
		<table>
			{{form}}
		</table>
		
		<input type="submit" value="Submit">
		
	</div>
	</form>
	
	<hr />
	
	<h2>Fleets:</h2>
	<a href="/new/fleet/{{company.pk}}">Create New Fleet</a>
	<ul>
	{% for fleet in form.instance.fleet_set.all %}
		<li><a href="/edit/fleet/{{fleet.pk}}">{{fleet.aircraft}} - {{fleet.size}}</a></li>
	{% endfor %}
	</ul>
	
	<hr />
	
	<h2>Positions:</h2>
	<a href="/new/position/{{company.pk}}">Create New Position</a>
	<ul>
	{% for pos in form.instance.position_set.all %}
		<li><a href="/edit/position/{{pos.pk}}">{{pos.name}}</a></li>
	{% endfor %}
	</ul>
	
	<hr />
	
	<h2>Operations:</h2>
	<a href="/new/operation/{{company.pk}}">Create New Operation</a>
	<ul>
	{% for op in form.instance.operation_set.all %}
		<li><a href="/edit/operation/{{op.pk}}">{{op.all_fleet}} - {{op.all_bases}}</a></li>
	{% endfor %}
	</ul>	

</div>
{% endblock %}
