{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}
	<style type="text/css">
		#company_form_table input			{width: 20em}
		.operation_form_table				{border: 3px double green}

	</style>
{% endblock %}

{% block javascript %}



{% endblock %}

{% block body %}
<div id="main_container">

	<h2>Edit {{ company.name }}</h2>
	<a href="/company/{{ company.pk }}">View {{ company.name }}</a>

	<form action="." method="POST">
	<table id="company_form_table">
	{{ form }}
	</table>
	<input type="submit" value="Submit"/>
	</form>
	
	<hr>
	
	<h2>Operations:</h2>
	click to edit
	<ul>
	{% for op in form.instance.operation_set.all %}
		<li><a href="/edit/operation/{{op.pk}}">{{op.all_fleet}} - {{op.all_bases}}</a></li>
	{% endfor %}
	<li><a href="/new/operation/{{company.pk}}">**Create new operation**</a></li>
	</ul>

</div>
{% endblock %}
