{% extends "base_list.html" %}

{% block title %}Fan Markers{% endblock %}
{% block logo %}<img src="{{ MEDIA_URL }}/icons/marker.png" alt="logo">{% endblock %}

{% block sub_heading %}Currently describing <strong>{{positions}} Positions</strong>, and <strong>{{companies}} Companies</strong>{% endblock %}

{% block main_content %}
<h3>What is the purpose of this site?</h3>

This site hops to be the one place stop for information relating to aviation companies. Lets say you want a job as a caravan pilot. You can come here and bring up a fairly complete list of all Caravan operators in the world. From there you can look into each one to see which one has the best pay/schedule/reputation. You can also see which one those companies are currently hiring.
<h3>How can I help?</h3>

Sign up an account and start adding information. You can also help by linking your friends to this site. The more people that use Fan Markers,
the better the site will be for all users.

<h3>I am trying to sign up, but I don't understand this OpenID thing. What the heck...</h3>

OpenID is a way to use one account across many sites. Instead of having to deal with 10 login/password combo's for 10 different sites, you can
have one login/pass for 10 sites. If you already have a Google account, just click <a href="/openid/login">here</a>, then click on the
Google icon. It will take you to a Google page on Google's domain. Enter your password. One thing to be aware of is that <strong>Fan Markers will
never see your Google password.</strong> Click on confirm. Then you'll be taken back to Fan Markers logged into your
new account. You can then go to the profile section and change your username to anything you like. This process works for Yahoo accounts (and
many others) just the same.

<h3>I noticed an error in one of the airports, how can I edit airport information?</h3>
Airport information is not editable. The data comes from <a href="http://ourairports.com">OurAirports</a>. If you see an error on this site, 
head on over to OurAirports and correct the information there. Eventually the correction will make it's way into the Fan Markers database.

<h3>How come I can't add comments for Airports the way I can add comments for Aircraft and Companies?</h3>

<a href="http://ourairports.com">OurAirports</a> is meant for this purpose. Use that site instead. Theres no reason to reinvent the wheel.

<h3>Does this site "recycle" job hiring statuses?</h3>

No. The site goes through all hiring jobs and automatically sets them as "not hiring" after the position has gone through 30 days of not being edited.
This site does not benefit at all from saying a job is hiring when it is not. If for some reason you come across a site that is listed as hiring, but you know for a fact that it is not hiring, please feel free to edit the status of that job.

<h3>Is there a style guide to dictate how positions are named and other various conventions?</h3>

This site is too new for something like that to exist. Once the ball gets rolling, a style guide will get put together that will aide in makeing sure each item is named consistently.

{% endblock %}
