{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}
	<style type="text/css">
		.airport_positions		{background: #DDDDDD; border: 1px solid black; padding: 1em; margin-bottom: 1em}
	</style>
{% endblock %}

{% block javascript %}

	<script type="text/javascript">
		airport_lat = {{a.location.y}};
		airport_long = {{ a.location.x}};
	</script>

	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_MAPS_KEY }}" type="text/javascript"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/small_map.js"></script>
	
	<script type="text/javascript">
		window.onunload = GUnload;
		window.onload = initialize_airport;
	</script>

{% endblock %}

{% block body %}
<div id="main_container">
	{% if not_found %}
		<div id="top_title">Airport Not Found</div>
	{% else %}


		<div id="top_title">{{ a.identifier }} - {{ a.name }}</div>
		<div>{%if a.municipality%}{{a.municipality}}, {%endif%}{{a.region}}, {{a.country}}</div>
	
		<div id="small_map" class="small_map"></div>
	
		<div class="airport_positions">
			<big>Operations based at this airport:</big>
			<br /><br />

			{% for op in ops_base %}
				<a href="/company/{{ op.company.pk }}#op{{ op.pk }}">{{ op.company }} - {{ op.all_fleet }}</a><br />
			{% endfor %}
		
			{% if not ops_base %}
				<em>None</em>
			{% endif %}
		</div>
	
		<div class="airport_positions">
			<big>Operations that fly to this airport:</big>
			<br /><br />

			{% for op in ops_fly %}
				<a href="/company/{{ op.company.pk }}#op{{ op.pk }}">{{ op.company }} - {{ op.all_fleet }}</a><br />
			{% endfor %}
		
			{% if not ops_fly %}
				<em>None</em>
			{% endif %}
		</div>
	
	{% endif %}
</div>
{% endblock %}
