{% extends "base.html" %}
{% load humanize %}

{% block javascript %}{% endblock %}

{% block css %}
{{ block.super }}
	.form_table td[colspan="2"]	{border:none; text-align: right; background: white !important; padding: 0px}
	
	.form_table			{width: 100%; border-collapse: collapse}
	.form_table th			{width: 13em}
	
	.form_table th,
	.form_table td			{border: 2px solid gray; padding: 8px}
	
	.form_table tr:nth-child(even)	{background: #BBBBBB}
	.form_table tr:nth-child(odd)	{background: #EEEEEE}
{% endblock %}

{% block body %}
<div id="main_container">
	<h1>
	{% block title %}{% endblock %}
	</h1>
	
	{% block top_links%}{% endblock %}
	
	<hr/>
	
	{% block beforeform %}{% endblock %}
	
	<form action="." method="post">
		<div>
			{% block form %}{% endblock %}
			<br />
			<input type="submit" value="{% if last_modified %}Submit Changes{% else %}Submit{% endif %}" />
		</div>
	</form>
	
	{% block afterform %}{% endblock %}
</div>
{% endblock %}
