{% extends "base.html" %}
{% load humanize %}

{% block javascript %}{% endblock %}

{% block css %}
{{ block.super }}
/******************************************/
/*             base form                  */
/******************************************/
	.form_table td[colspan="2"]	{border:none; text-align: right; background: white !important; padding: 0px}
	
	.form_table			{width: 100%; border-collapse: collapse}
	.form_table th			{width: 13em}
	
	.form_table th,
	.form_table td			{border: 2px solid gray; padding: 8px; }
	
	.help_text			{font-size: x-small; color: gray}
	
	.form_table tr:nth-child(even)	{background: #BBBBBB}
	.form_table tr:nth-child(odd)	{background: #EEEEEE}
	
	.errorlist				{color: darkred}
{% endblock %}

{% block edit %}{% endblock %}

{% block heading %}
{% block title %}{% endblock %}
{% endblock %}

{% block main_content %}
	<form action="." method="post">
			{% block form %}{% endblock %}
			<input style="margin-top: 5px" type="submit" name="submit" value="Submit">
	</form>
	{%block afterform %}{% endblock %}
{% endblock %}
