<table>
	<tr>
		<td>{{ form.total.label_tag }}:</td>       <td>{{form.total}}</td>
		<td>{{ form.xc.label_tag }}:</td>          <td>{{form.xc}}</td>
		<td>{{ form.night.label_tag }}:</td>       <td>{{form.night}}</td>
		<td>{{ form.instrument.label_tag }}:</td>  <td>{{form.instrument}}</td>
		<td>{{ form.dual_given.label_tag }}:</td>  <td>{{form.dual_given}}</td>
	</tr>

	<tr>
		<td>{{ form.jet.label_tag }}:</td>         <td>{{form.jet}}</td>
		<td>{{ form.turbine.label_tag }}:</td>     <td>{{form.turbine}}</td>
		<td>{{ form.pic.label_tag }}:</td>         <td>{{form.pic}}</td>
		<td>{{ form.t_pic.label_tag }}:</td>       <td>{{form.t_pic}}</td>
		<td>{{ form.jet_pic.label_tag }}:</td>     <td>{{form.jet_pic}}</td>
	</tr>
	
	<tr>
		<td>{{ form.cert_level.label_tag }}:</td>  <td>{{form.cert_level}}</td>
		<td>{{ form.instructor.label_tag }}:</td>  <td>{{form.instructor}}</td>
		<td>{{ form.instrument_instructor.label_tag }}:</td>  <td>{{form.instrument_instructor}}</td>
	</tr>
</table>
