json = {
		"title":	"{% spaceless %}
				<div class='popup_title'>
					<span class='popup_airport_name'><a class='immutable' href='{{airport.get_absolute_url}}'>{{airport.identifier}}</a> - {{airport.name}}</span>
					<br>
					<span class='popup_location'>{{airport.location_summary}}</span>
				</div>
				{% endspaceless%}",
				
		"base":		"{% spaceless %}
				 {% for position in bases %}
					<div class='popup_small_div'>
						<span class='popup_position'><a class='view' href='{{ operation.company.get_absolute_url }}'>{{position.company }}</a> - <a class='view' href='{{position.get_absolute_url}}'>{{position.name}}</a></span><br>
						<span class='popup_fleet'>{{position.operation_set.all.0.all_fleet}}</span><br>
					</div>
					{% empty %}
					<div class='popup_not_known not_known'>None</div>
				{% endfor %}
				{% endspaceless%}",
				
		"route":	"{% spaceless %}
				 {% for position in routes %}
				 
					<div class='popup_small_div'>
						<span class='popup_position'><a class='view' href='{{ operation.company.get_absolute_url }}'>{{position.company }}</a> - <a class='view' href='{{position.get_absolute_url}}'>{{position.name}}</a></span><br>
						<span class='popup_fleet'>{{position.operation_set.all.0.all_fleet}}</span><br>
					</div>
					{% empty %}
					<div class='popup_not_known not_known'>None</div>
				{% endfor %}
				{% endspaceless%}",
				
		"base_t":	"({{ bases.count }})",
		"route_t":	"({{ routes.count }})"
	};
