{% extends "base_form.html" %}
{################################################################################}

{% block title %}Editing: {{ form.instance }}{% endblock %}

{################################################################################}

{% block top_links %}	
	<a href="{{ form.instance.get_absolute_url }}" class="view">View {{ form.instance }}</a>
{% endblock %}

{################################################################################}

{% block form %}
	<table class="form_table">
	{{form}}
	</table>
{% endblock %}

{################################################################################}
