{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}
	<style type="text/css">
		input[type="text"]		{width: 4em}
		
		.status_table td:first-child	{width: 15em;}
		.status_table td		{border: 1px solid black; width: 5em; text-align: center; padding: 2px}
		
		.status_table td:last-child	{background: lightgreen}

	</style>
{% endblock %}

{% block javascript %}



{% endblock %}

{% block body %}
<div id="main_container">

	<h1>
	Editing the status of: {{ position.company }} - {{ position }}
	</h1>
	
	<a href="{{ position.get_absolute_url }}" class="view">View {{position}}</a><br />
	<a href="/edit{{ position.get_absolute_url }}" class="edit">Edit {{position}}</a>
	
	
	<hr class="top_divider" />
	
	<form action="." method="post">
	<div>
		<table>
			{{form}}
		</table>
	
		<table summary="hiring status form" class="status_table">
			<tr>
				<td>Base</td>
				<td>Status Unknown</td>
				<td>Hiring (Assign)</td>
				<td>Hiring (Choice)</td>
				<td>Laying Off</td>
				<td>Advertising</td>
			</tr>

			{% for base in bases %}
			<tr>
				<td><strong><a href="{{ base.get_absolute_url }}" class="immutable">{{base}}</a></strong><br />{{ base.location_summary}}</td>
				<td><input type="radio" name="{{base.identifier}}" value="unknown" checked="checked" /></td>
				<td><input type="radio" name="{{base.identifier}}" value="assign" /></td>
				<td><input type="radio" name="{{base.identifier}}" value="choice" /></td>
				<td><input type="radio" name="{{base.identifier}}" value="layoff" /></td>
				<td><input type="radio" name="{{base.identifier}}" value="advertising" /></td>
			</tr>
			{% endfor %}
		</table>
		
		<input type="submit" value="Submit Changes" />
	
	</div>
	</form>
	
</div>

{% endblock %}
