{% extends "base_form.html" %}

{% block title %}Editing the status of {{position}}{% endblock %}

{######################################################}

{% block css %}
<style type="text/css">
	.status_table td:first-child	{width: 15em;}
	.status_table td		{border: 1px solid black; width: 5em; text-align: center; padding: 2px}
	
	.status_table td:last-child	{background: lightred}
</style>
{% endblock %}

{######################################################}

{% block sub_heading %}
<a href="{{ position.get_absolute_url }}" class="view">View {{position}}</a><br />
<a href="/edit{{ position.get_absolute_url }}" class="edit">Edit {{position}}</a>
{% endblock %}

{######################################################}	
{% block form %}
<table>
	<tr>
		<th>{{form.reference.label_tag}}:</th>
		<td>{{form.reference}}</td>
		<td>{{form.errors}}</td>
	</tr>
</table>

<br />

<table summary="hiring status form" class="status_table">
	<tr>
		<td>Base</td>
		<td>Status Unknown</td>
		<td>Laying Off</td>
		<td>Not Hiring</td>
		{% if bases|length_is:"1" %}
		<td>Hiring</td>
		{% else %}
		<td>Hiring (Assign)</td>
		<td>Hiring (Choice)</td>
		{% endif %}
	</tr>

	{% for base in bases %}
	<tr>
		<td><strong><a href="{{ base.get_absolute_url }}" class="immutable">{{base}}</a></strong><br />{{ base.location_summary}}</td>
		
		<td><input type="radio" name="{{base.identifier}}" value="unknown" {{base.unknown_checked|safe}}/></td>
		<td><input type="radio" name="{{base.identifier}}" value="layoff" {{base.layoff_checked|safe}}/></td>
		<td><input type="radio" name="{{base.identifier}}" value="not" {{base.not_checked|safe}}/></td>
		{% if bases|length_is:"1" %}
		<td><input type="radio" name="{{base.identifier}}" value="choice" {{base.choice_checked|safe}}/></td>
		{% else %}
		<td><input type="radio" name="{{base.identifier}}" value="assign" {{base.assign_checked|safe}}/></td>
		<td><input type="radio" name="{{base.identifier}}" value="choice" {{base.choice_checked|safe}}/></td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
{% endblock %}
