{% extends "base_form.html" %}

{% block title %}Editing {{ position.company }} - {{ position }} {{ min_type }} Minimums{% endblock %}

{% block css %}
{{ block.super }}
	input[type="text"]	{width: 3em}
	.collapse		{padding: 5px; margin: 10px}
	.collapse table		{display: none}
	legend			{font-size: large; color: gray}
	.highlighted		{font-weight: bold; color: darkred}
	.plus 			{margin: 2px; margin-right: 5px; cursor: pointer}
	
	.mins_table			{border: 1px solid #DDDDDD; margin-left: auto; margin-right: auto}
	.mins_table td			{padding: 2px}
	.mins_table th			{text-align: right}
	.mins_table tr:nth-child(odd)	{background: #F3F3F3}
{% endblock %}

{% block top_links%}<a class="edit" href="/edit{{position.get_absolute_url}}">Edit {{position}}</a>{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		$(document).ready(function() {
			var plus_path = '{{ MEDIA_URL }}/icons/plus.png';
			var minus_path = '{{ MEDIA_URL }}/icons/minus.png';
			$(".plus").attr("src", plus_path);
			
			$("input[type='text'][value!='']")
				.closest("table").show().siblings("legend").addClass("highlighted")
				.find("img").attr("src", minus_path);

			$("option:selected[value!=0]")
				.closest("table").show().siblings("legend").addClass("highlighted")
				.find("img").attr("src", minus_path);
			
		
			$(".plus").click(function(){
				$(this).parent().siblings().toggle();	//toggle table visibility
				
				if($(this).attr('src') == plus_path){
					$(this).attr('src', minus_path);
					$(this).attr('alt', "-");
				}
				else{
					$(this).attr('src', plus_path);
					$(this).attr('alt', "+");
				}
			});
			
			
		});
	
	</script>
{% endblock %}

{% block form %}	
	<h2>General Requirements:</h2>

	<table class="mins_table">
		{{general_mins}}
	</table>
	
	<hr>
	
	<h2>Flight Times:</h2>
	
	<div class="collapse" id="any_mins">
		<fieldset>
			<legend><img title="Click to expand" class="plus" id="expand_any" alt="+" src="" />Any Aircraft</legend>
			<table class="mins_table" summary="Any Aircraft Minimums">
				{{any_mins}}
			</table>
		</fieldset>
	</div>
	
	<div class="collapse" id="airplane_mins">
		<fieldset>
			<legend><img title="Click to expand" class="plus" id="expand_airplane" alt="+" src="" />Fixed Wing</legend>
			<table class="mins_table" summary="Fixed Wing Minimums">
				{{airplane_mins}}
			</table>
		</fieldset>
	</div>
	
	<div class="collapse" id="se_mins">
		<fieldset>
			<legend><img title="Click to expand" class="plus" id="expand_se" alt="+" src=""/>Single-Engine</legend>
			<table class="mins_table" summary="Single-Engine Minimums">
				{{se_mins}}
			</table>
		</fieldset>
	</div>
	
	<div class="collapse" id="me_mins">
		<fieldset>
		<legend><img title="Click to expand" class="plus" id="expand_me" alt="+" src="" />Multi-Engine</legend>
		<table class="mins_table" summary="Multi-Engine Minimums">
			{{me_mins}}
		</table>
		</fieldset>
	</div>
	
	<div class="collapse" id="sea_mins">
		<fieldset>
		<legend><img title="Click to expand" class="plus" id="expand_sea" alt="+" src="" />Seaplane</legend>
		<table class="mins_table" summary="Seaplane Minimums">
			{{sea_mins}}
		</table>
		</fieldset>
	</div>
	
	<div class="collapse" id="mes_mins">
		<fieldset>
		<legend><img title="Click to expand" class="plus" id="expand_mes" alt="+" src="" />Multi-Engine Seaplane</legend>
		<table class="mins_table" summary="Multi-Engine Seaplane Minimums">
			{{mes_mins}}
		</table>
		</fieldset>
	</div>
	
	<div class="collapse" id="glider_mins">
		<fieldset>
		<legend><img title="Click to expand" class="plus" id="expand_glider" alt="+" src="" />Glider</legend>
		<table class="mins_table" summary="Glider Minimums">
			{{glider_mins}}
		</table>
		</fieldset>
	</div>
	
	<div class="collapse" id="heli_mins">
		<fieldset>
		<legend><img title="Click to expand" class="plus" id="expand_heli" alt="+" src="" />Helicopter</legend>
		<table class="mins_table" summary="Helicopter Minimums">
			{{heli_mins}}
		</table>
		</fieldset>
	</div>
	
	<div class="collapse" id="sim_mins">
		<fieldset>
		<legend><img title="Click to expand" class="plus" id="expand_sim" alt="+" src="" />Simulator</legend>
		<table class="mins_table" summary="Simulator Minimums">
			{{sim_mins}}
		</table>
		</fieldset>
	</div>
{% endblock %}
