{% extends "base.html" %}

{% block title %}Company List{% endblock %}

{% block css %}
{{ block.super }}
	#company_filter_box		{margin: 1em; border: 1px solid black; background: lightgreen; overflow: hidden; width: 46em}
	#company_filter_box div		{text-align: center; border: 0px solid gray; float: left; width: 15em}
	
	.highlight			{background: green}
{% endblock %}

{% block javascript %}



{% endblock %}

{% block body %}
<div id="main_container">

	<h1>{{title}}</h1>
	
	<div id="company_filter_box">
		
		{% for type in types %}
		<div{% ifequal type disp_type%} class="highlight"{% endifequal %}><a href="/company/list/type/{{ type.0 }}">{{type.1}}</a></div>
		{% endfor %}

	</div>
	<ol>
	{% for company in company_list %}
		<li><a href="/company/{{company.pk}}" class="view">{{ company.name }}</a></li>
	{% endfor %}
	</ol>
		<br />
		<a href="/new/company" class="new">Create New Company</a>


</div>
{% endblock %}
