{% extends "base_list.html" %}

{% block title %}{{type}}{% endblock %}

{% block sub_heading %}
	{% ifequal type "Aircraft" %}
		<a href="{% url new-aircraft %}" class="new">Create New Aircraft</a>
	{% else %}
		<a href="{% url new-company %}" class="new">Create New Company</a>
	{% endifequal %}
{% endblock %}

{% block main_content %}
	<div class="filter_form">
	<form action="." method="get">
		<table>
		{{searchform}}
		</table>
		
		<input type="submit">
	</form>
	</div>

	{% load pagination_tags %}
	{% autopaginate objects 50 %}
	<div class="pagnate">{% paginate %}</div>
	<ul>
	{% for object in objects %}
	<li><a class="{%ifequal type "Aircraft"%}immutable{%else%}view{%endifequal%}" href="{{ object.get_absolute_url }}">{{object}}</a></li>
	{% empty %}
		<li><strong>Nothing to show, sorry</strong></li>
	{% endfor %}
	</ul>
{% endblock %}
