{% extends "base_list.html" %}
{% load duration %}

{% block title %}{% if title %}{{title}}{% else %}{{hiring}} Positions{% endif %}{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block main_content %}
	<div class="filter_form">
	<form action="." method="get">
		<table>
		{{searchform}}
		</table>
		<input type="submit">
	</form>
	</div>


	<ul>
	{% load pagination_tags %}
	
	{% autopaginate positions 50 %}

	<div class="pagnate">{% paginate %}</div>	
		
	{% for position in positions %}
	<li>
		<a class="view" href="{{ position.get_absolute_url }}">{{position}} - {{ position.company }}</a><br>
		{% if position.status %}
		    {{ position.status|safe }}
		    Since {{ position.status_since|date:"N d, Y" }}
		    <span class="last_modified">({{ position.status_modified_seconds_ago|sectodur }} Ago)</span>
		{% endif %}
	</li>
	{% empty %}
		<li><strong>Nothing to show, sorry</strong></li>
	{% endfor %}
	</ul>
{% endblock %}
