{% extends "base_list.html" %}

{% block title %}{{type}}{% endblock %}

{% block under_heading %}
<a href="/new/{{ type|lower }}" class="new">Create New {{ type }}</a>
{% endblock %}

{% block main_content %}
	<div class="filter_form">
	<form action="." method="get">
		<table>
		{{searchform}}
		</table>
		
		<input type="submit">
	</form>
	</div>
	
	<ul>
	{% for object in objects %}
		<li><a class="view" href="{{ object.get_absolute_url }}">{{object}}</li>
	{% empty %}
		<li><strong>Nothing to show, sorry</strong></li>
	{% endfor %}
	</ul>
{% endblock %}
