{% extends "base_list.html" %}

{% block title %}{{title}}Aircraft{% endblock %}

{% block css %}
{{ block.super }}
	.filter_form		{background: #DDDDDD; padding:5px}
{% endblock %}

{% block under_heading %}
<a href="/new/aircraft" class="new">Create New Aircraft</a>
{% endblock %}

{% block main_content %}
	<div class="filter_form">
	<form action="." method="get">
		<table>
		{{searchform}}
		</table>
		
		<input type="submit">
	</form>
	</div>
	
	<ul>
	{% for aircraft in aircrafts %}
		<li><a class="immutable" href="{{ aircraft.get_absolute_url }}">{{aircraft}}</li>
	{% empty %}
		<li><strong>Nothing to show, sorry</strong></li>
	{% endfor %}
	</ul>
{% endblock %}
