{% extends "base_list.html" %}

{% block title %}{{title}} Aircraft{% endblock %}

{% block css %}
{{ block.super }}
	.list_options		{overflow: hidden; margin: 3px; padding: 3px}
	.list_options div	{float: left; margin: 5px}
{% endblock %}

{% block main_content %}
	<form action="." method="get" style="display: none">
		<div class="list_options">
		By Category/Class:<br>
			<label><input name="cat" type="radio" value="0" checked="checked">Any</label>
		{% for cc in cat_classes %}
			<label><input name="cat" type="radio" value="{{ cc.0 }}">{{cc.1}}</label>
		{% endfor %}	
		</div>
	
		<hr>
		
		<div class="list_options">
		By Engine Type:<br>
			<label><input name="engine" type="radio" value="0" checked="checked">Any</label>
		{% for e in engines %}
			<label><input name="engine" type="radio" value="{{ e.0 }}">{{e.1}}</label>
		{% endfor %}
		</div>
		
		<hr>
		
		Search: <input type="text" name="search">
		
		<hr>
			
		<input type="submit">
	</form>
	
	<form action="." method="get">
		<table>
		{{searchform}}
		</table>
		
		<input type="submit">
	</form>
	
	
	<hr>

	<ol>
	{% for aircraft in aircrafts %}
		<li><a class="immutable" href="{{ aircraft.get_absolute_url }}">{{aircraft}}</li>
	{% empty %}
		<li><strong>Nothing to show, sorry</strong></li>
	{% endfor %}
	</ol>
	
	<br><br>
	
	<a href="/new/aircraft" class="new">Create New Aircraft</a>
{% endblock %}
