<form>
	<fieldset>
		<legend>Any</legend>

		{% with any_form as form %}
		{% include "cat_class_mins.html" %}
		{% endwith %}
		
	</fieldset>
	
	<fieldset>
		<legend>Airplane</legend>
		
		{% with airplane_form as form %}
		{% include "cat_class_mins.html" %}
		{% endwith %}
		
	</fieldset>
		
	<fieldset>
		<legend>SEL</legend>

		{% include "cat_class_mins.html" %}		
	</fieldset>
	
	<fieldset>
		<legend>MEL</legend>

		{% include "cat_class_mins.html" %}
	</fieldset>
	
	<fieldset>
		<legend>SES</legend>

		{% include "cat_class_mins.html" %}
	</fieldset>
	
	<fieldset>
		<legend>MES</legend>

		{% include "cat_class_mins.html" %}
	</fieldset>
	
	<fieldset>
		<legend>Helicopter</legend>

		{% include "cat_class_mins.html" %}
	</fieldset>
	
	<fieldset>
		<legend>Glider</legend>

		{% include "cat_class_mins.html" %}
	</fieldset>
	
	<fieldset>
		<legend>Simulator</legend>

		{% include "cat_class_mins.html" %}
	</fieldset>
	
	<fieldset>
		<legend>General</legend>

		<table>
			<tr>
				<td>{{ form.years_exp.label_tag }}:</td>      <td>{{form.years_exp}}</td>
				<td>{{ form.seniority.label_tag }}:</td>      <td>{{form.seniority}}</td>
				<td>{{ form.years_company.label_tag }}:</td>  <td>{{form.years_company}}</td>
				<td>{{ form.rec.label_tag }}:</td>            <td>{{form.rec}}</td>
				<td>{{ form.dual_given.label_tag }}:</td>  <td>{{form.dual_given}}</td>
			</tr>

		</table>
	</fieldset>
</form>
