{% extends "base_form.html" %}

{% block title %}{% if form.instance.pk %}Edit{% else %}Add New{% endif %} Aircraft{% endblock %}

{% block sub_heading %}
	{% if form.instance.pk %}
	<a href="{{ form.instance.get_absolute_url }}" class="view">View {{form.instance}}</a>
	{% endif %}
{% endblock %}

{% block form%}
<table class="form_table">
	{% for field in form %}
	<tr>
		<th>{{field.label_tag}}:</th>
		
		<td>{{field}}
			<br><span class="help_text">{{field.help_text}}</span>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
