{% extends "base_form.html" %}

{% block title %}New Route for {{opbase.base}}{% endblock %}

{% block css %}
{{ block.super }}
	input[type="text"]		{width:4em}
{% endblock %}

{% block heading %}
	{% ifequal type "edit" %}
	<h1>Edit Route for {{opbase.base}}</h1>
	{% else %}
	<h1>New Route for {{opbase.base}}</h1>
	{% endifequal %}
{% endblock %}

{% block top_links %}	
	<a href="{{ opbase.operation.get_edit_url }}" class="edit">Edit {{ opbase.operation }}</a>
{% endblock %}	
	
{% block form%}
	
	<table class="form_table">
		<tr>
			<th>Route:</th>
			
			<td>
			{{opbase.base.identifier}} - 
			
			{% for form in formset.forms %}
				{{form.base}}{{form.id}} -
			 		{% if form.errors %}
			 			{{form.errors}}
			 		{% endif %}
			 {% endfor %}
			 
			 {{opbase.base.identifier}}
			 
		{{ formset.management_form }}</td>
	
		{{routeform}}
	</table>
{% endblock %}
