{% extends "base_form.html" %}

{% block title %}
	{% ifequal type "edit" %}
	Editing: {{ form.instance }}
	{% else %}
	Adding new Operation for {{ form.instance.company }}
	{% endifequal %}
{% endblock %}

{#############################################################}

{% block css %}
{{ block.super }}
/******************************************/
/*             edit operation             */
/******************************************/
	.opbase_formbox				{border: 1px solid green; background: lightgray; margin: 1em; padding: .5em}
	.opbase_new				{border: 2px solid red;margin-top: 3em; padding: .5em}
	.opbase_new table td:first-child	{text-align: center; font-weight: bold}
	input[type="text"]			{width: 4em}
	textarea				{height: 100px}
	
	.bases_table td,
	.bases_table th				{border: 0px; background: white; margin-top: 5px; margin-bottom: 5px; padding: 3px}
	
	.bases_table				{border: 1px solid #444444; margin-top: 5px; margin-bottom: 5px}
{% endblock %}

{#############################################################}

{% block sub_heading %}
	{% ifequal type "edit" %}
	<a href="{{ form.instance.company.get_edit_url }}" class="edit">Edit {{ form.instance.company }}</a>
	{% else %}
	<a href="{{ form.instance.company.get_edit_url }}" class="edit">Edit {{ form.instance.company }}</a>
	{% endifequal %}
{% endblock %}

{#############################################################}
{% block form %}
	<div>
		{{ formset.management_form }}
	</div>
	<div>
		<table class="form_table" summary="Operation fleet and positions">
		{% for field in form %}
			<tr>
				<th>{{field.label_tag}}:</th>  <td>{{field}} <span class="help_text">{{field.help_text}}</span></td>
			</tr>
		{% endfor %}
			<tr>
				<th>Bases:</th>
				<td>
				{% for form in formset.forms %}
					<table class="bases_table">
					<tr>
						<th>{{form.base.label_tag}}:</th>
						<td>
							{{form.id}}{{form.base}}
							{% for error in form.base.errors %}  <span class="errorlist">{{error}}</span>{% endfor %}
						</td>
					</tr>
					
					<tr>					
						<th>{{form.info.label_tag}}:</th>
						<td>
							{{form.info}}
							{% for error in form.info.errors %} <span class="errorlist">{{error}}</span>{% endfor %}
						</td>
					</tr>
					
					{% if form.instance.pk %}
					<tr>
						<th>Delete?</th>
						<td>{{form.DELETE}}</td>
					</tr>
					
					<tr>
						<th>Routes</th>
						<td>
							<ul>
							{% for route in form.instance.route_set.all %}
							<li><a href="{{ route.get_edit_url }}" class="edit">{{route}}</a></li>
							{% endfor %}

							<li><a href="{% url new-route form.instance.pk %}" class="new">Add route</a></li>
							</ul>
						</td>
					</tr>
					
					{% endif %}
					</table>
				{% endfor %}
				</td>
			</tr>
		</table>
	</div>
{% endblock %}
