{% extends "base_form.html" %}

{% block title %}
	{% ifequal type "edit" %}
	Editing: {{form.instance}}
	{% else %}
	Adding New Fleet for: {{ company }}
	{% endifequal %}
{% endblock %}

{##############################################################################}

{% block heading %}
	{% ifequal type "edit" %}
	Editing: {{form.instance}}
	{% else %}
	Adding New Fleet for: {{ company.name }}
	{% endifequal %}
{% endblock %}

{##############################################################################}	

{% block sub_heading %}
<a href="{{ company.get_edit_url }}" class="edit">Edit {{ company }}</a>
{% endblock %}

{##############################################################################}
		
{% block form %}
<table class="form_table">
	{{form}}
</table>
{% endblock %}
