{% extends "base.html" %}

{% block title %}Add New Position for {{ company.name }}{% endblock %}

{% block css %}
	<style type="text/css">

	</style>
{% endblock %}

{% block javascript %}



{% endblock %}

{% block body %}
<div id="main_container">
	
	<h1>Create new position for {{ company.name }}</h1>
	<a href="/edit{{ company.get_absolute_url }}" class="edit_link">Edit {{ company.name }}</a>
	
	<hr class="top_divider" />
	
	<form action="." method="POST">
	<div>
		<table summary="New Position fields">
			{{form}}
		</table>
	</div>
	
	
	<hr />
	<div>
		<input type="submit" value="Submit" />
	</div>
	</form>
	
</div>
{% endblock %}
