{% extends "base.html" %}

{% block title %}New Route for {{opbase.base}}{% endblock %}

{% block css %}
	<style type="text/css">

		input[type="text"]		{width:4em}

	</style>
{% endblock %}

{% block javascript %}



{% endblock %}

{% block body %}
<div id="main_container">

	<h1>New Route for {{opbase.base}}</h1>
	
	<a href="/edit/operation/{{opbase.operation.pk}}" class="edit_link">Edit {{ opbase.operation }}</a>
	
	
	<hr class="top_divider" />
	
	<form action="." method="post">
		<div>
			{{opbase.base}} - {% for form in formset.forms %}{{form.base}} - {{form.errors}}{% endfor %}{{opbase.base}}
			{{ formset.management_form }}
		</div>
		
		<hr />
		
		<table>
			{{routeform}}
		</table>
				
		<div>
			<input type="submit" value="Create New Route" />
		</div>
	</form>

</div>
{% endblock %}
