{% extends "base.html" %}

{% block title %}Add New Position for {{ company.name }}{% endblock %}

{% block css %}
	<style type="text/css">

	</style>
{% endblock %}

{% block javascript %}



{% endblock %}

{% block body %}
<div id="main_container">
	
	<h1>Create new position for {{ company.name }}</h1>
	<a href="/company/{{ company.pk }}">View {{ company.name }}</a><br />
	<a href="/edit/company/{{ company.pk }}">Edit {{ company.name }}</a>
	
	<hr />
	
	<form action="." method="POST">
	<div>
		<table class="formtable">
			{{form}}
		</table>
	</div>
	
	
	<hr />
	
	<input type="submit" value="Submit">
	
	</form>
	
</div>
{% endblock %}
