{% extends "base.html" %}

{% block title %}Add New Operation for {{ company.name }}{% endblock %}

{% block css %}
	<style type="text/css">
.opbase_formbox				{border: 1px solid green; background: lightgray; margin: 1em; padding: .5em}
		.opbase_new				{border: 2px solid red;margin-top: 3em; padding: .5em}
		.opbase_new table td:first-child	{text-align: center; font-weight: bold}
		input[type="text"]			{width: 4em}
		
		.errorlist				{color: darkred}
	</style>
{% endblock %}

{% block javascript %}



{% endblock %}

{% block body %}
{% with form.instance as operation %}
<div id="main_container">

	<h1>New Operation for {{operation.company}}</h1>
	<a href="/edit{{operation.company.get_absolute_url}}" class="edit_link">Edit {{operation.company}}</a>
	
	<hr class="top_divider" />
	
	<form action="." method="post">
		<div>
			{{ formset.management_form }}
			
			<table summary="New Operation fields">
				{{form}}
			</table>
		</div>
	
		<hr />
		
		<h2>Bases:</h2>
		
		{% for form in formset.forms %}

		<div class="opbase_formbox">
		
			<table summary="Operation Base box">
				<tr>
					<th>{{form.base.label_tag}}:</th> <td>{{form.base}}</td> <td>{% for error in form.base.errors %}  <span class="errorlist">{{error}}</span>{% endfor %}</td>
				</tr>
			
				<tr>
					<th>{{form.workforce_size.label_tag}}</th> <td>{{form.workforce_size}}</td> <td>{% for error in form.workforce_size.errors %} <span class="errorlist">{{error}}</span>{% endfor %}</td>
				</tr>
			</table>	
		</div>
		{% endfor %}
	
		<input type="submit" value="Submit">
	</form>
</div>
{% endwith %}
{% endblock %}
