{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}
	<style type="text/css">
		.opbase_formbox			{border: 2px solid green; margin: 1em; padding: .5em}


	</style>
{% endblock %}

{% block javascript %}



{% endblock %}

{% block body %}
<div id="main_container">

	<div id="top_title">
			{{ operation }}
		</div>

	{% for form in formset.forms %}
		<div class="opbase_formbox">
			<form>
				<table>
					{{form}}
				</table>
				
				<ul>
				{% for route in form.instance.routes.all %}
					<li><a href="/edit/route/{{route.pk}}">{{ route }}</a></li>
				{% endfor %}
					<li><a href="/new/route/">**Add route**</a></li>
				</ul>
			</form>
		</div>
	{% endfor %}





</div>
{% endblock %}
