{% extends "base_form.html" %}

{% block edit %}{% endblock %}

{################################################################################}

{% block title %}User Profile: {{ user }}{% endblock %}

{################################################################################}

{% block sub_heading %}
<a href="{% url logout %}">Log out</a>
{% endblock %}

{################################################################################}

{% block form %}
	<table class="form_table">
	{{user_form}}
	{{profile_form}}
	</table>
{% endblock %}

{################################################################################}
