{% extends "base_form.html" %}



{################################################################################}

{% block title %}User Profile: {{ user }}{% endblock %}

{################################################################################}

{% block heading %}
	<h1>Profile for: {{ user }}</h1>
{% endblock %}

{################################################################################}

{% block top_links %}
<a href="/accounts/logout/">Log out</a>
{% endblock %}

{################################################################################}

{% block form %}
	<table>
	{{user_form}}
	{{profile_form}}
	</table>
{% endblock %}

{################################################################################}

{% block afterform %}

{% endblock %}

{################################################################################}
