{% extends "base.html" %}


{%block title%}{{company.name}} - Company Profile{% endblock %}

{% block css %}
<style type="text/css">
	.alert			{color: darkred; font-weight: bold}

	.operation_box		{border: 3px solid black; margin: 1em; padding: 1em; padding-top: 0px}
	
	.edit_op_icon		{float: right; margin-top: 10px; border: 0px solid black}
	
	.fleet_box		{border: 1px solid black; margin-top: 0.5em; margin-bottom: 0.5em; background: lightgray; padding: .5em}
	
	#info_table td		{border: 1px solid black; padding: 0.5em}
	#info_table		{margin-top: 1em}
</style>
{% endblock %}

{% block body %}
	<div id="main_container">
	
		{# ------------company info--------------------------------- #}
	
		<h1>
			<h1>
				{{company.name}}{% if user.is_authenticated %} <a class="edit_link_ui" href="/edit{{ company.get_absolute_url }}">(edit)</a>{% endif %}
			</h1>
		</h1>
		
		<table id="info_table">
			<tr>
				<td>Call sign:</td>  <td>{% firstof company.call_sign "<em>None</em>"%}</td>
			</tr>
			<tr>
				<td>Website:</td>  <td><a href="{{company.website}}">{{company.website}}</a></td>
			</tr>
		</table>
			
		{% for op in company.operation_set.all %}
		<div class="operation_box">
			{% if user.is_authenticated %}
			
			{% endif %}
		
			{# ------------position box--------------------------------- #}
		
			{% for pos in op.positions.all %}
			<h2>
				<a href="/position/{{pos.pk}}">{{pos.name}}</a>
				{% if forloop.first %}<a name="op{{op.pk}}"></a>{% endif %}
			</h2>
			{% endfor %}
			
			{# ------------fleet below---------------------------------- #}
				
			{% for f in op.fleet.all %}
			<div class="fleet_box">
				<a href="/aircraft/{{ f.aircraft.pk }}">{{ f.aircraft }}</a> ({{ f.size }})
			</div>
			{% endfor %}
			
			{# -------------bases below--------------------------------- #}
				
			{% for ob in op.opbase_set.all %}
			<ul>
				<li>
					<a href="/airport/{{ ob.base.identifier }}">{{ ob.base.display_name }}</a> {{ ob.get_hiring_status_display }}
					<br />
					<small>{{ ob.base.municipality }}, {{ ob.base.region }}{% ifnotequal ob.base.country "United States"%}, {{ ob.base.country }}{% endifnotequal %}</small>
				</li>
			</ul>
			{% endfor %}
		</div>
		
		{#{% empty %}	#}
		
		<em>No operations</em>
		
		{% endfor %}
		
		
		
		

	</div>
{% endblock %}
