{% extends "base.html" %}


{%block title%}{{company.name}} - Company Profile{% endblock %}

{% block css %}
<style type="text/css">
	.alert			{color: darkred; font-weight: bold}

	.operation_box		{border: 3px solid black; margin: 1em; padding: 1em; padding-top: 0px}
	
	.op_edit		{float: right; margin-top: 10px; border: 0px solid black}
	
	.fleet_box		{border: 1px solid black; margin-top: 0.5em; margin-bottom: 0.5em; background: lightgray; padding: .5em}
	
	#info_table td		{border: 1px solid black; padding: 0.5em}
	#info_table		{margin-top: 1em}
</style>
{% endblock %}

{% block body %}
	<div id="main_container">
	
		{# ------------company info--------------------------------- #}
	
		<h1>
			<h1>
				{{company.name}} <a class="edit_link_ui" href="/edit{{ company.get_absolute_url }}">(edit)</a>
			</h1>
		</h1>
		
		<table id="info_table">
			<tr>
				<td>Description:</td>  <td>{{company.description}}</td>
			</tr>
			<tr>
				<td>Call sign:</td>  <td>{% firstof company.call_sign "<em>None</em>"%}</td>
			</tr>
			<tr>
				<td>Website:</td>  <td><a href="{{company.website}}">{{company.website}}</a></td>
			</tr>
			
			<tr>
				<td>Contact Info:</td>  <td>{{company.contact_info}}</td>
			</tr>
			
			<tr>
				<td>Business Type:</td>  <td><a href="/company/list/type/{{company.type}}" class="immutable">{{company.get_type_display}}</a></td>
			</tr>
			
			<tr>
				<td>Union:</td>  <td>{{company.union}}</td>
			</tr>
		</table>
			
		{% for op in company.operation_set.all %}
		<div class="operation_box">
			<div class="op_edit">
				<a href="/edit/operation/{{ op.pk }}" class="edit_link_ui">(edit)</a>
			</div>
			
			{# ------------position box--------------------------------- #}
		
			{% for position in op.positions.all %}
			<h2>
				<a href="{{ position.get_absolute_url }}">{{position.name}}</a> <a class="edit_link_ui" href="/edit{{ position.get_absolute_url }}">(edit)</a>
				{% if forloop.first %}<a name="op{{op.pk}}"></a>{% endif %}
			</h2>
			{% endfor %}
			
			{# ------------fleet below---------------------------------- #}
				
			{% for fleet in op.fleet.all %}
			<div class="fleet_box">
				<a href="{{ fleet.aircraft.get_absolute_url }}" class="immutable">{{ fleet.aircraft }}</a> ({{ fleet.size }})
			</div>
			{% endfor %}
			
			{# -------------bases below--------------------------------- #}
				
			{% for ob in op.opbase_set.all %}
			<ul>
				<li>
					<a href="/airport/{{ ob.base.identifier }}" class="immutable">{{ ob.base.display_name }}</a> {{ ob.get_hiring_status_display }}
					<br />
					<small>{{ob.base.location_summary}}</small>
				</li>
			</ul>
			{% endfor %}
		</div>
		
		{#{% empty %}	#}
		
		{#<em>No operations</em>#}
		
		{% endfor %}
		
		
		
		

	</div>
{% endblock %}
