{% extends "base_view.html" %}
{% load humanize %}
{% load comments %}

{% block title %}{{position.company.name}} - {{position.name}}{% endblock %}

{% block edit_top %}"{{ position.get_edit_url }}"{% endblock %}

{% block css %}
{{ block.super }}
/******************************************/
/*             view position              */
/******************************************/
	
	.t_not			{background: #EEEEEE; border: 1px solid black}
	.t_unknown		{background: #EEEEEE; border: 1px solid black}
	.t_assign		{background: #9df39d; border: 1px solid green}
	.t_choice		{background: #9df39d; border: 1px solid green}
	.t_layoff		{background: #f39d9d; border: 1px solid darkred}
	
	.top_section		{padding: 3px; margin-top: 5px; border-bottom: 0px !important}
	.bottom_section		{padding: 3px; margin-bottom: 5px; border-top: 0px !important}
	
	.b_not			{background: #CCCCCC; border: 1px solid black}
	.b_unknown		{background: #CCCCCC; border: 1px solid black}
	.b_assign		{background: #5db856; border: 1px solid green}
	.b_choice		{background: #5db856; border: 1px solid green}
	.b_layoff		{background: #c88181; border: 1px solid darkred}
	
	.subheading_box		{font-size: x-small; width: 100%; text-align: right}
	
	.position_mins		{margin-top: 1em; border-collapse: collapse}
	.position_mins td	{border: 0px solid black; padding-right: 1em}
	
	.base_hide		{display: none}
	.bases			{}
	
	.mins ul		{margin: 0px; padding-left: 1.5em}
	ul			{margin-top: 0}
{% endblock %}

{% block javascript %}

<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={{ GOOGLE_MAPS_KEY }}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/small_map.js"></script>

<script type="text/javascript">

	var map;

	$(document).ready(function() {
		
		initialize();
		
		var kml = new GGeoXml('{{ SITE_URL }}/kml/position-{{position.pk}}.kml', function(){
		
			if (kml.loadedCorrectly())
			{
				map.addOverlay(kml);
				kml.gotoDefaultViewport(map)
			}
			
			if (map.getZoom() > 6)
				map.setZoom(6)
		});
		
	});
	
	window.onunload = GUnload;
</script>

{% endblock %}

Current watchers: <strong>{{watchers}}</strong>  {% if not already_watching %}<a href="/watch/position/{{ position.pk }}">Watch this position</a>{%else%}<a href="/unwatch/position/{{ position.pk }}">Unwatch this position</a>{% endif %}


{% block main_content %}

{##################################################}
{#############routes and bases map#################}
{##################################################}
{##################################################}

	<table class="fancy_table" summary="Bases">
	
		<thead>
			<tr>
				<td colspan="2">Bases & Routes <a title="Download KML file for viewing in Google Earth" class="corner_link" href="http://flightjobwiki.com/kml/position-{{position.pk}}.kml">kml</a></td>
			</tr>
		</thead>
		
		<tr>
			<td>
				<div id="map_canvas"></div>
			</td>
		
		</tr>
		
	{% if opbases %}
		<tr>
			<td>
			{% for ob in opbases %}
				<div class="top_section t_{{ ob.hiring_status }}">
					<a class="immutable" href="{{ ob.base.get_absolute_url }}">{{ ob.base.display_name }}</a> 
					<br />
					<small>{{ ob.base.location_summary}}</small>
				</div>
	
				<div class="bottom_section b_{{ob.hiring_status}}">
					<div class="subheading_box">
						{{ob.verbose_hiring_status}}
					</div>
					{% if ob.route_set.all %}
					<div>
					Routes:<br>
					<ul>
					{% for route in ob.route_set.all %}
						<li>{{route}}{{route.info}}</li>
					{% endfor %}
					</ul>
					</div>
					{% endif %}
				</div>
			{% endfor %}
			</td>
		</tr>
	{% else %}
		<tr>
			<td class='not_known'>Not Known</td>
		</tr>	
	{% endif %}
	</table>

{##################################################}
{#############general information##################}
{##################################################}
{##################################################}

<div class="last_modified">Last modified:  <strong>{{position.last_modified|date:"F d, Y"|default:"Never"}}</strong> {{position.last_modified|date:"(G:i.s T)"}}</div>	
	<table class="fancy_table" summary="Position general information">
	
	
		<thead>
			<tr>
				<td colspan="2">General Information</td>
			</tr>
		</thead>
		
		<tr>
			<th>Company:</th>  <td><a href="{{ position.company.get_absolute_url }}" class="view">{{position.company}}</a></td>
		</tr>
		<tr>
			<th>Job Domain:</th>  <td>{{position.get_job_domain_display}}</td>
		</tr>
		
		<tr>
			<th>Aircraft:</th>
			<td>	
				{% for fleet in fleets %}
					
					<a href="{{fleet.aircraft.get_absolute_url}}" class="immutable">{{fleet.aircraft}}</a><br />
					
				{% endfor %}
			</td>
		</tr>
		
		<tr>
			<th>Schedule Type:</th>  <td>{{position.get_schedule_type_display|default:"<span class='not_known'>Not Known</span>"}} </td>
		</tr>
		{#<tr>#}
		{#	<th>Number of people watching this position:</th>#}
		{#	<td>{{watchers}} {% if not already_watching %}<a class="watch" href="/watch/position/{{ position.pk }}">(Watch this position)</a>{%else%}<a href="/unwatch/position/{{ position.pk }}">(Unwatch this position)</a>{% endif %}</td>#}
		{#</tr>#}
	</table>

{##################################################}
{###########compensation###########################}
{##################################################}
{##################################################}

	<div class="last_modified">Last modified:  <strong>{{position.compensation_set.get.last_modified|date:"F d, Y"|default:"Never"}}</strong> {{position.compensation_set.get.last_modified|date:"(G:i.s T)"}}</div>	
	<table class="fancy_table" summary="payscale and hiring minimums information">
	
	
		<thead>
			<tr>
				<td colspan="2">Compensation Information</td>
			</tr>
		</thead>
		
	{% if compensation %}
		<tr>
			<th>Benefits:</th>  <td>{{compensation.benefits|default:"<span class='not_known'>Not Known</span>"}}</td>
		</tr>
		<tr>
			<th>Per Diem:</th>  <td>{{compensation.perdiem|default:"<span class='not_known'>Not Known</span>"}}</td>
		</tr>
		<tr>
			<th>Training Pay:</th>  <td>
						{%ifequal compensation.training_pay 0%}
							<span class='not_known'>Not Known</span>
						{% else %}
							{{compensation.get_training_pay_display}}
						{% endifequal %}
						</td>
		</tr>
		<tr>
			<th>Flight Hours per month:</th>  <td>{{compensation.flight_hours|default:"<span class='not_known'>Not Known</span>"}} </td>
		</tr>
		
		{% if compensation.extra_info %}
		<tr>
			<th>Extra Info:</th>  <td>{{compensation.extra_info}}</td>
		</tr>
		{% endif %}
	
		{% if payscales %}
			<tr>
				<th>Salary/Payscale:</th>
				<td>
					{% for ps in payscales %}
					{% if forloop.last and forloop.first %}
						<strong>${{ ps.amount|floatformat:2|intcomma }}</strong> <small>{{ ps.get_salary_unit_display }}</small>		
					{% else %}
						{{ ps.year|ordinal }} year: <strong>${{ ps.amount|floatformat:2|intcomma }}</strong> <small>{{ ps.get_salary_unit_display }}</small><br />
					{% endif %}
					{% endfor %}
				</td>
			</tr>
		{% endif %}
		
	{% else %}
		<tr>
			<td class="not_known">Not known</td>
		</tr>
	{% endif %}
		</table>
		
{##################################################}
{##################################################}
{#################minimums#########################}
{##################################################}

	<div class="last_modified">Last modified:  <strong>{{position.mins.last_modified|date:"F d, Y"|default:"Never"}}</strong> {{position.mins.last_modified|date:"(G:i.s T)"}}</div>
	<table class="fancy_table mins" summary="Hard hiring minimums information">
	
		<thead>
			<tr>
				<td colspan="2">Minimums <a class="corner_link edit_link_ui" href="{{ position.mins.get_edit_url }}">(edit)</a></td>
			</tr>
		</thead>
		
		{% if position.mins.has %}		
			{{ position.mins.as_table|safe }}
		{% else %}
		
		<tr>
			<td class="not_known">Not known</td>
		</tr>
	
		{% endif %}
	</table>
{##################################################}
{##################################################}
{#################comments#########################}
{##################################################}

{% get_comment_list for position as comment_list %}

{% include "comments_table.html"%}

<table class="fancy_table">
	<tr>
		<td><div class="comments_form_div">{% render_comment_form for position %}</div></td>
	</tr>
</table>
{% endblock %}
