{% extends "base.html" %}

{% block title %}{{ airport.identifier }} - Airport Profile{% endblock %}

{% block css %}
	<style type="text/css">
		.airport_positions		{background: #DDDDDD; border: 1px solid black; padding: 1em; margin-bottom: 1em}
	</style>
{% endblock %}

{% block javascript %}

	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_MAPS_KEY }}" type="text/javascript"></script>
	
	<script type="text/javascript">
		airport_lat = {{airport.location.y}};
		airport_long = {{ airport.location.x}};
		
		var icon = new GIcon;
		icon.image = '{{ MEDIA_URL }}/icons/big/red.png';
		icon.iconSize = new GSize(16,16);
		icon.iconAnchor = new GPoint(8,8);
		icon.infoWindowAnchor = new GPoint(16,16);

		var sicon = new GIcon;
		sicon.image = "{{ MEDIA_URL }}/icons/small/red.png";
		sicon.iconSize = new GSize(8,8);
		sicon.iconAnchor = new GPoint(4,4);
		sicon.infoWindowAnchor = new GPoint(8,8);
	</script>
	
	<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/small_map.js"></script>
	
	<script type="text/javascript">
		window.onunload = GUnload;
		window.onload = initialize_airport;
	</script>

{% endblock %}

{% block body %}
<div id="main_container">
	<h1>{{ airport.identifier }} - {{ airport.name }}</h1>
	<div>{{airport.location_summary}}</div>

	<div id="small_map" class="small_map"></div>

	<div class="airport_positions">
		<big>Operations based at this airport:</big>
		<br /><br />

		{% for op in ops_base %}
			<a href="{{ op.get_absolute_url }}" class="view">{{ op.company }} - {{ op.all_fleet }}</a><br />
		{% endfor %}
	
		{% if not ops_base %}
			<em>None</em>
		{% endif %}
	</div>

	<div class="airport_positions">
		<big>Operations that fly to this airport:</big>
		<br /><br />

		{% for op in ops_fly %}
			<a href="/company/{{ op.company.pk }}#op{{ op.pk }}" class="view">{{ op.company }} - {{ op.all_fleet }}</a><br />
		{% endfor %}
	
		{% if not ops_fly %}
			<em>None</em>
		{% endif %}
	</div>
</div>
{% endblock %}
