{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}
	<style type="text/css">
		.operations_box			{border: 1px solid black; background: lightgray; padding: 5px}
	</style>
{% endblock %}

{% block javascript %}

{% endblock %}

{% block body %}
<div id="main_container">

	<h1>{{aircraft}}</h1>
	
	<hr class="top_divider" />
	
	<table summary="aircraft specs">
		<tr>
			<td>Type:</td>
			<td>{{aircraft.type}}</td>
		</tr>
		
		<tr>
			<td>Model:</td>
			<td>{{aircraft.model}}</td>
		</tr>
		
		<tr>
			<td>Manufacturer:</td>
			<td>{{aircraft.manufacturer}}</td>
		</tr>
		
		<tr>
			<td>Category/Class:</td>
			<td>{{aircraft.get_cat_class_display}}</td>
		</tr>
		
		<tr>
			<td>Engine Type:</td>
			<td>{{aircraft.get_engine_type_display}}</td>
		</tr>
	</table>
	
	<hr />
	
	<div class="operations_box">
	<h3>Operations that use this aircraft:</h3>
	{% if operations %}
	<ul>
	{% for op in operations %}
	<li>
	<a href="/company/{{op.company.pk}}/#op{{op.pk}}">{{op}}</a>
	</li>
	{% endfor %}
	</ul>
	{% else %}
	
	<em>None</em>
	
	{% endif%}
	</div>

</div>
{% endblock %}
