{% extends "base.html" %}
{% load humanize %}

{% block title %}{{position}} - Profile{% endblock %}

{% block css %}
	<style type="text/css">
	.base			{border: 2px solid black; margin-top: 1em; padding: 0.5em; overflow: hidden}
	.base_link		{font-weight: bold; color: darkred}
	.base_info		{display: none}
	.base_floats		{float: left; padding-right: 1em}
	
	.plus			{cursor: pointer}
	
	.position_box		{border: 0px solid black; margin-bottom: .5em; padding: .5em; font-size: medium}
	.position_status	{font-size: medium}
	.position_name		{font-size: x-large; font-weight: bold}
	.payscale		{border-collapse: collapse; font-size: medium; margin-top: 1em}
	.payscale td		{border: 1px solid gray;  padding: 3px}
	
	.position_mins		{margin-top: 1em; border-collapse: collapse}
	.position_mins td	{border: 0px solid black; padding-right: 1em}
	
	.info_table		{border: 1px solid black; padding: 1em}
	.info_table td:first-child	{width: 8em}
	
	ul			{margin-top: 0}
	
	</style>
{% endblock %}

{% block javascript %}

<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={{ GOOGLE_MAPS_KEY }}" type="text/javascript"></script>

<script type="text/javascript">
	var icon = new GIcon;
	icon.image = '{{ MEDIA_URL }}/icons/big/red.png';
	icon.iconSize = new GSize(16,16);
	icon.iconAnchor = new GPoint(8,8);
	icon.infoWindowAnchor = new GPoint(16,16);

	var sicon = new GIcon;
	sicon.image = "{{ MEDIA_URL }}/icons/small/red.png";
	sicon.iconSize = new GSize(8,8);
	sicon.iconAnchor = new GPoint(4,4);
	sicon.infoWindowAnchor = new GPoint(8,8);
</script>

<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/small_map.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/position_doc_ready.js"></script>

<script type="text/javascript">
	var bases = [];	//lat longs of all bases, indexed by the pk of that opbase
	var maps = [];	//array of the Gmap2 objects
	var data = [];	//array of all the points, indexed by the opbase pk
	
{% for ob in position.opbases %}
	bases[{{ob.pk}}] = [{{ob.base.location.y}},{{ob.base.location.x}}]; 
	data[{{ob.pk}}] = {% if ob.route_set.all %}{{ob.routes_json}}{%else%}"None";{% endif %}
{% endfor %}
</script>

{% endblock %}

{% block body %}
<div id="main_container">


	<h1>
		{{position.company.name}} - {{position.name}}{% if user.is_authenticated %} <a class="edit_link_ui" href="/edit{{ position.get_absolute_url }}">(edit)</a>{% endif %}
	</h1>
	
	<a href="{{position.company.get_absolute_url}}">View {{position.company.name}}</a>
	
	<hr class="top_divider" />
	
	<table class="info_table" summary="payscale and hiring minimums information">
	
	{% if position.payscaleyear_set.all %}
		<tr>
			<td>Salary:</td>
			<td>
			<strong>
				{% for ps in position.payscaleyear_set.all %}
				{% if forloop.last and forloop.first %}
					${{ ps.amount|floatformat:2|intcomma }} <small>{{ ps.get_salary_unit_display }}</small>		
				{% else %}
					{{ ps.year|ordinal }} year: ${{ ps.amount|floatformat:2|intcomma }} <small>{{ ps.get_salary_unit_display }}</small><br />
				{% endif %}
				{% endfor %}
			</strong>
			</td>
		</tr>
		
	{% else %}
		<tr><td><em>No known salary information</em></td></tr>
	{% endif %}

		<tr>
			<td colspan="2"><hr /></td>
		</tr>
		
		{% if position.hard_mins.has %}
		<tr>
			<td>Hard Minimums:</td>
			<td>{{position.hard_mins.as_ul|safe}}</td>
		</tr>
		{% endif %}

		{% if position.pref_mins.has %}
		<tr>
			<td>&nbsp;</td>
		</tr>
		
		<tr>
			<td>Preferred:</td>
			<td>
				{% for r in position.pref_mins.display_pref %}
				{{r|join:" "}}<br />
				{% endfor %}
			</td>
		</tr>
		{% endif %}
	
		{% if not position.pref_mins.has and not position.hard_mins.has %}
			<tr>
				<td colspan="2"><em>No known hiring minimums</em></td>
			</tr>
		{% endif %}
	</table>

	<h2>Bases:</h2>
	
{% for ob in position.opbases %}
	<div class="base b{{ ob.hiring_status }}">
		<div class="base_floats">
			<img title="Click to expand" class="plus" id="expand_{{ob.pk}}" src="{{ MEDIA_URL }}/icons/plus.png" alt="+"/>
		</div>
		<div class="base_floats">
			<a title="{{ ob.base.get_location }}" class="base_link" href="{{ ob.base.get_absolute_url }}">
				{{ ob.base.display_name }}</a> ({{ob.workforce_size}})<br />
				<small>{{ ob.base.location_summary}}</small>
				
			<div class="base_info" id="info_{{ob.pk}}" >
				<div id="map_{{ob.pk}}" class="small_map"></div>
			</div>
			
			{% if ob.route_set.all %}
			<br /><br />
			<div>
				<strong>Routes:</strong>
				<ul>
				{% for r in ob.route_set.all %}		{# new row, new route #}
				<li>
					<a href="{{ ob.base.get_absolute_url }}" title="{{ ob.base.location_summary }}" class="immutable">{{ ob.base.identifier }}</a> &#8594; 
						{% for b in r.routebase_set.all %}
						<a href="{{ b.base.get_absolute_url }}" title="{{ b.base.location_summary }}" class="immutable">{{ b.base.identifier }}</a> &#8594; 
						{% endfor%}
					<a href="{{ ob.base.get_absolute_url }}" title="{{ ob.base.location_summary }}" class="immutable">{{ ob.base.identifier }}</a>
					{{r.description}}
				</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
			
			
		</div>
	</div>
{% endfor %}
	
	
</div>
{% endblock %}
