{% extends "base_view.html" %}

{% block title %}{{ airport.identifier }} - {{ airport.name }}{% endblock %}
{% block sub_heading %}{{airport.location_summary}}{% endblock %}

{% block edit %}&nbsp;{% endblock %}

{% block css %}
{{ block.super }}
	.airport_positions		{background: #DDDDDD; border: 1px solid black; padding: 1em; margin-bottom: 1em}
{% endblock %}

{% block javascript %}
{% url airport-kml airport.identifier as kml %}
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_MAPS_KEY }}" type="text/javascript"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/small_map.js"></script>
	
	<script type="text/javascript">

	var map;

	$(document).ready(function() {
		
		initialize();
		
		var kml = new GGeoXml('{{ SITE_URL }}{{ kml }}', function(){
		
			if (kml.loadedCorrectly())
			{
				map.addOverlay(kml);
				kml.gotoDefaultViewport(map)
			}
			
			if (map.getZoom() > 6)
				map.setZoom(6)
		});
		
	});
	
	window.onunload = GUnload;
	</script>

{% endblock %}

{% block main_content %}
<div id="main_container">

	<div id="map_canvas" class="small_map"></div>

	<div class="airport_positions">
		<big>Companies with a base at this airport:</big>
		<br><br>

		{% for company in company_base %}
			<a href="{{ company.get_absolute_url }}" class="view">{{ company }}</a><br>
		{% empty %}
			<span class="not_known">None</span>
		{% endfor %}
	</div>

	<div class="airport_positions">
		<big>Operations that fly to this airport:</big>
		<br><br>

		{% for op in ops_fly %}
			<a href="{{ company.get_absolute_url }}" class="view">{{ op.company }} - {{ op.all_fleet }}</a><br>
		{% empty %}
			<span class="not_known">None</span>
		{% endfor %}
	</div>
</div>
{% endblock %}
