{% extends "base.html" %}

{% block title %}Jobmap{% endblock %}

{% block css %}
{{ block.super }}
	#container				{height: 100%; overflow: hidden}
	#map_canvas				{height: 100%; width: 100%; float: left; background: white;    border: 0px solid black}
	#sidebar				{height: 100%; width: 100%; float: left; background: #FFDDFF;  border: 0px solid black; padding-top: 20px}

	#container table			{height: 100%; width: 100%; border-collapse: collapse}
	#container table tr			{height: 100%}
	td					{height: 100%}
	#container table td:last-child		{width: 20em; height: 100%}

	#submit_sidebar				{margin-left: auto; margin-right: auto}
	
	.overlay_number				{text-align: center; border: 0px solid black; width: 35px; line-height: 20px}
	
	/*************/
	
	.popup_small_div			{border: 1px solid black; padding: 2px; margin: 3px; background: #CCCCCC}
	.popup_title				{border: 1px solid green; padding: 5px}
	
{% endblock %}

{##############################################################}

{% block javascript %}
	<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={{ GOOGLE_MAPS_KEY }}" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}/javascripts/tabbedmaxcontent_packed.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}/javascripts/elabel.js" type="text/javascript"></script>
	<script type="text/javascript">
		var map;		//map is in global scope
		
		africa = 	[new GGeoXml('{{ MEDIA_URL }}/kml/africa.kmz'), {{africa_h|default:"00"}}, {{africa_t|default:"00"}} ]
		americas = 	[new GGeoXml('{{ MEDIA_URL }}/kml/americas.kmz'), {{americas_h|default:"00"}}, {{americas_t|default:"00"}} ]
		carribean= 	[new GGeoXml('{{ MEDIA_URL }}/kml/carribean.kmz'), {{carribean_h|default:"00"}}, {{carribean_t|default:"00"}} ]
		alaska  =	[new GGeoXml('{{ MEDIA_URL }}/kml/alaska.kmz'), {{alaska_h|default:"00"}}, {{alaska_t|default:"00"}} ]
		australia =	[new GGeoXml('{{ MEDIA_URL }}/kml/australia.kmz'), {{australia_h|default:"00"}}, {{australia_t|default:"00"}} ]
		canada =	[new GGeoXml('{{ MEDIA_URL }}/kml/canada.kmz'), {{canada_h|default:"00"}}, {{canada_t|default:"00"}} ]
		china =		[new GGeoXml('{{ MEDIA_URL }}/kml/china.kmz'), {{china_h|default:"00"}}, {{china_t|default:"00"}} ]
		e_europe =	[new GGeoXml('{{ MEDIA_URL }}/kml/eastern_europe.kmz'), {{e_europe_h|default:"00"}}, {{e_europe_t|default:"00"}} ]
		europe =	[new GGeoXml('{{ MEDIA_URL }}/kml/europe.kmz'), {{europe_h|default:"00"}}, {{europe_t|default:"00"}} ]
		india =		[new GGeoXml('{{ MEDIA_URL }}/kml/india.kmz'), {{india_h|default:"00"}}, {{india_t|default:"00"}} ]
		indonesia =	[new GGeoXml('{{ MEDIA_URL }}/kml/indonesia.kmz'), {{indonesia_h|default:"00"}}, {{indonesia_t|default:"00"}} ]
		middle_east =	[new GGeoXml('{{ MEDIA_URL }}/kml/middle_east.kmz'), {{midle_east_h|default:"00"}}, {{midle_east_t|default:"00"}} ]
		russia =	[new GGeoXml('{{ MEDIA_URL }}/kml/russia.kmz'), {{russia_h|default:"00"}}, {{russia_t|default:"00"}} ]
		scandanavia =	[new GGeoXml('{{ MEDIA_URL }}/kml/scandanavia.kmz'), {{scandanavia_h|default:"00"}}, {{scandanavia_t|default:"00"}} ]
		usa =		[new GGeoXml('{{ MEDIA_URL }}/kml/usa.kmz'), {{usa_h|default:"00"}}, {{usa_t|default:"00"}} ]
		
	</script>
	
	<script type="text/javascript" src="{{ MEDIA_URL }}/javascripts/big_map.js">
	</script>
	
{% endblock %}

{##############################################################}

{% block body %}	
	<div id="container">
		<table>
			<tr>
				<td><div id="map_canvas"></div></td>
				<td>
					<form action="." method="get">
					<div id="sidebar">
					Show:<br />	<input type="checkbox" id="c_bases" />Job bases<br />
							<input type="checkbox" id="c_destinations" />Destination airports<br />
							
					<hr />
							
					Filter:		<select id="d_filter">
								<option>Show All</option>
								<option>Only Advertising</option>
								<option>Only Hiring</option>
								<option>Only Lay-off</option>
								<option>Only no-status</option>
							</select>
														
							<br />
							
					<hr />
							
					By Aircraft:	<select id="d_aircraft">
								<option>All</option>
							</select>
							
							<br />
							
					By Schedule:	<select id="d_schedule">
								<option>All</option>
								<option>On Call</option>
								<option>Scheduled</option>
							</select>
							
							<br />
							
					<hr />
							
					Only show jobs I'm qualified for: <input type="checkbox" /><br />
							
							<br />
					
					Search: <input type="text" /><br />
					
					<br />
					
					<input id="submit_sidebar" type="submit" value="Go" />
				
					</div>
					</form>
				</td>
			</tr>
		</table>
	</div>
	
{% endblock %}
