{% extends "base_view.html" %}
{% load comments %}


{% block title %}{{aircraft}}{% endblock %}

{% block css %}
{{block.super }}
	.operations_box			{border: 1px solid black; background: lightgray; padding: 5px}
{% endblock %}

{% block edit_top %}"/edit/aircraft/{{aircraft.pk}}"{% endblock %}

{% block main_content %}

	<table class="fancy_table" summary="aircraft specs">
		<thead>
		<tr>
			<td colspan=2>General Information</td>
		</tr>
		</thead>
		
		<tr>
			<th>Type:</th>
			<td>{{aircraft.type}}</td>
		</tr>
		
		<tr>
			<th>Model:</th>
			<td>{{aircraft.model}}</td>
		</tr>
		
		<tr>
			<th>Manufacturer:</th>
			<td>{{aircraft.manufacturer}}</td>
		</tr>
		
		<tr>
			<th>Category/Class:</th>
			<td>{{aircraft.get_cat_class_display}}</td>
		</tr>
		
		<tr>
			<th>Engine Type:</th>
			<td>{{aircraft.get_engine_type_display}}</td>
		</tr>

		<tr>
			<th>Companies that use this aircraft:</th>
	
			<td>
				<ul>
				{% for company in companies %}
					<li><a href="{{ company.get_absolute_url }}">{{company}}</a></li>
				{% empty %}
					<span class="not_known">None</span>
				{% endfor %}
				</ul>
			</td>
		</tr>
	</table>
</div>


{% endblock %}
