{% load comments %}
<div class="last_modified">&nbsp;</div>	
<table class="fancy_table">
	<thead>
		<tr>
			<td colspan="2">Add your comment</td>
		</tr>
	</thead>

	<tr>
		<td>
			<div class="comments_form_div">



<form action="{% comment_form_target %}" method="post" id="comment_form">
	<div>
		{% for field in form %}
			{% if field.is_hidden %}
				{{ field }}
			{% endif %}
		{% endfor %}

		<input id="email" type="hidden" name="email" value="username@example.com"/>
	</div>
	
	<div style="margin-bottom: 10px">
		{% if not user.is_authenticated %}{{ form.name.label_tag }}:<br>{{ form.name }}{% endif %}
		
		<label for="anon">Post Anonymously?</label> <input id="anon" name="anon" type="checkbox" />
	</div>	
	
	<div>
	{{ form.comment.label_tag }}:<br>{{ form.comment }}
	</div>
		
	<div style="display:none;">
		<label for="id_honeypot">If you enter anything in this field your comment will be treated as spam</label>
		<input type="text" name="honeypot" id="id_honeypot" />
	</div>

	<div class="submit">
		<input type="submit" name="post" class="submit-post" value="Post" />
	</div>
</form>

</div>
</td></tr></table>
