{% load comments %}
<form action="{% comment_form_target %}" method="post">
	
	{% for field in form %}
		{% if field.is_hidden %}
			{{ field }}
		{% endif %}
	{% endfor %}
	
	<div style="margin-bottom: 10px">
	{% if not user.is_authenticated %}{{ form.name.label_tag }}:<br>{{ form.name }}{% endif %} Post Anonymously? <input name="anon" type="checkbox" />
	</div>	
	
	<div>
	{{ form.comment.label_tag }}:<br>{{ form.comment }}
	</div>
		
	<div style="display:none;">
		<label for="id_honeypot">If you enter anything in this field your comment will be treated as spam</label>
		<input type="text" name="honeypot" id="id_honeypot" />
	</div>

	<div class="submit">
		<input type="submit" name="post" class="submit-post" value="Post" %}" />
	</div>
</form>
